@import 'libs/bootstrap-reboot.min';

html {
    scroll-behavior: smooth; //включает плавный скролинг для сайта, когда переходишь по ссылкам на странице к какимто секциям
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/play';

// @import 'base/media';   // Чтоб файл медиа (адаптация под разные экраны) работал корректно, его необходимо подключать в стили самым последним