.header {
    height: 100px;
    background-color: bisque;
    padding-top: 20px;
    &__menu {
        &__level {
            background-color: aqua;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .title__wrapper {
        display: flex;
        justify-content: start;
        gap: 20px;
    }
    .skill__wrapper {
        display: flex;
        justify-content: start;
        gap: 20px;
    }
}