.header {
    height: 100px;
    background-color: bisque;
    padding-top: 20px;
    &__menu {
        &__title {
            margin: 0 auto;
            text-align: center;
        }
        &__descr {
            margin: 0 auto;
            text-align: center;
        }
        &__level {
            background-color: aqua;
            &:hover {
                cursor: pointer;
            }
        }
        &__btn {
            display: none;
        }
    }
    .skill__wrapper {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .game__menu {
        display: none;

    }
}