.play {
    padding-top: 20px;
    &__zone {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(8, 100px);
        grid-template-rows: auto;
        gap: 20px 20px;
    }
    &__card {
        width: 100px;
        height: 149px;
        border-radius: 7%;
        transition: all 0.3s;
        &:hover {
            transition: all 0.2s;
            cursor: pointer;
            scale: 105%;
        }
        &__img {
            width: 100%;
            height: 100%;
            z-index: 10;
        }
    }
    &__win {
        display: none;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__marvel {
        background: url('../../img/skin_1/back.png');
        &:hover {
            background: url('../../img/skin_1/back1.png');
        }    
    }
    &__lego {
        background: url('../../img/skin_2/back.png');
        &:hover {
            background: url('../../img/skin_2/back1.png');
        }    
    }
    &__harry {
        background: url('../../img/skin_3/back.png');
        &:hover {
            background: url('../../img/skin_3/back1.png');
        }    
    }
    &__starwars {
        background: url('../../img/skin_4/back.png');
        &:hover {
            background: url('../../img/skin_4/back1.png');
        }    
    }
}
